body{
  display: flex;
  justify-content: center;
  align-items: space-between;
  height: 100vh;
}

#main{
  display: flex;
  flex-wrap:wrap;
}

table{
  flex-basis: 100%;
  border-collapse: collapse;
}

.row{
  border-bottom: 1px solid;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

td{
  padding: .5rem;
}

.row:hover{
  background: gray;
}

.header-sort:hover{
  background: gray;
}

.header-sort{
  text-align: left;
}

h1{
  width: 100vw;
  text-align: center;
}

#addButton{
  margin-top: 1em;
  justify-self: end;
  padding: 1.5em;
  background-color: rgb(45, 190, 45);
  border-radius: 50%;
  box-shadow: 5px 5px 10px #888888;
}



#filler{
  flex-grow: 2;
  width: 1px;
}

#description-input{
  height: 10em;
}

#new-task-form{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

#new-task-info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3em;
  padding: 2em;
  border: 1px solid;
  border-radius: 3rem;
  box-shadow: 5px 5px 10px;
}

#new-task-info > div{
  display: flex;
  justify-content: space-between;
}
#new-task-info > div > *{
  margin-top: .5em;
  margin-left: 1em;
  margin-right: 1em;
}

#detail-view{
  flex-basis: 100%;
  display:flex;
  flex-direction: column;
  margin: 3em;
  padding: 2em;
  border: 1px solid;
  border-radius: 3rem;
  box-shadow: 5px 5px 10px;
}

#detail-view > div{
  margin-top: 1em;
  margin-bottom: 1em;
}