body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main{
  display: flex;
  flex-wrap:wrap;
}

table{
  flex-basis: 100%;
}

.row:hover{
  background: gray;
}

.header-sort:hover{
  background: gray;
}

#addButton{
  justify-self: end;
  padding: 1.5em;
  background-color: rgb(45, 190, 45);
  border-radius: 50%;
  box-shadow: 5px 5px 10px #888888;
}

#filler{
  flex-grow: 2;
  width: 1px;
}

#description-input{
  height: 10em;
}

#new-task-form{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

#new-task-info{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-task-info > div{
  display: flex;
  justify-content: space-between;
}
#new-task-info > div > *{
  margin-left: 1em;
  margin-right: 1em;
}